# Data Types and Type Conversion

```{admonition} Learning Objectives

Questions
* What kinds of data do variables store?
* How can I convert one type to another?

Objectives
* Explain key differences between integers and floating point numbers.
* Explain key differences between numbers and character strings.
* Use built-in functions to convert between integers, floating point numbers, and strings.

---

````{admonition} Recap on Data Types
:class: seealso dropdown

Every value in a program has a specific type.

*   Integer (`int`): whole numbers like 3 or -512.
*   Floating point number (`float`): fractional numbers like 3.14159 or -2.5.
*   Whole numbers may also be stored as floats, e.g. `1.0`, but `1.0` would still be stored as a `float`.
*   Character string (usually called "string", `str`): text (but not necessarily only letters).
    *   Written in either single quotes or double quotes (as long as they match).
    *   The quotation marks aren't printed using `print()`, but may appear when viewing a value in the Jupyter Notebook or other Python interpreter.

We can use the built-in function `type()` to find out what type a value has.

*   This works on variables as well.
    *   But remember: the *value* has the type --- the *variable* is just a label.
    *   When you change the value of a variable to a new data type, the results of `print(type(your_variable))` will change accordingly.

See more in the [Data Types](01_data_types) lesson.

---

## Types control what operations can be performed

A value's type determines what the program can do to it.

In [1]:
print(5 - 3)

2

In [2]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Using the `+` and `*` operators on strings

"Adding" character strings concatenates them.

In [3]:
full_name = 'Ahmed' + ' ' + 'Walsh'
print(full_name)

Ahmed Walsh

Multiplying a character string by an integer _N_ creates a new string that consists of that character string repeated  _N_ times (since multiplication is repeated addition).

There are more ways that traditional math operators will work on other data types. There isn't a perfect formula for figuring out what they do, so experimentation is valuable.

In [4]:
separator = '=' * 10
print(separator)

==========

Here, the variable "separator" is set to the value "=" (equals sign) ten times in a row.

### Strings have a length (but numbers don't)

The built-in function `len` counts the number of characters in a string.

In [5]:
print(len(full_name))

11

But numbers don’t have a length (not even zero).

In [6]:
print(len(52))

TypeError: object of type 'int' has no len()

---

## Dealing with different data types

You cannot add numbers and strings.

In [ ]:
print(1 + 'A')

This is not allowed because it's ambiguous: should `1 + '2'` be `3` or `'12'`?

Some types can be converted to other types by using the type name as a function.

In [ ]:
print(1 + int('2'))
print(str(1) + '2')

### Integers and floats can be mixed freely in operations

Integers and floating-point numbers can be mixed in arithmetic.

Python automatically converts integers to floats as needed.

In [7]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

half is 0.5
three squared is 9.0

---

## Variables only change value when something is assigned to them

If we make one cell in a spreadsheet depend on another, and update the latter, the former updates automatically.

This does **not** happen in programming languages.

In [9]:
first = 1
second = 5 * first
first = 2
print('first is', first, 'and second is', second)

first is 2 and second is 5

Python reads the value of `first` when doing the multiplication, creates a new value, and assigns it to `second`.

After that, `second` does not remember where it came from.

---

## Exercises

### Exercise 1: Fractions

What type of value is 3.4? How can you find out?

````{admonition} Solution
:class: dropdown

It is a floating-point number (often abbreviated “float”).

```text
print(type(3.4))
```
```text
<class 'float'>
```
````

---

### Exercise 2: Automatic Type Conversion

What type of value is 3.25 + 4?

````{admonition} Solution
:class: dropdown

It is a float.\
Integers are automatically converted to floats as necessary.

```text
result = 3.25 + 4
print(result, 'is', type(result))
```
```text
7.25 is <class 'float'>
```
````

---

### Exercise 3: Choose a Type

What type of value (integer, floating point number, or character string) would you use to represent each of the following?

Try to come up with more than one good answer for each problem.\
For example, in  # 1, when would counting days with a floating point variable make more sense than using an integer?  

1. Number of days since the start of the year.
2. Time elapsed since the start of the year.
3. Standard book loan period.
4. Number of reference queries in a year.
5. Average library classes taught per semester.

````{admonition} Solution
:class: dropdown

1. Integer  
2. Float  
3. Integer  
4. Integer  
5. Float

---

### Exercise 4: Strings to Numbers

Where reasonable, `float()` will convert at string or an integer to a floating point number, and `int()` wil convert a string or a floating point number to an integer.

(Note, conversion is some times also called typecast.)

In [10]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

If the conversion doesn't make sense, however, an error message will occur:

In [11]:
print("string to float:", float("Hello world!"))

ValueError: could not convert string to float: 'Hello world!'

**Given the information above:**

1. What do you expect the following program to do?
2. What does it actually do?
3. Why do you think it does that?

```text
print("fractional string to int:", int("3.4"))
```

````{admonition} Solution
:class: dropdown

It would not be so unreasonable to expect the Python `int()` command to convert the string "3.4" to 3.4 and an additional type conversion to 3.\
After all, Python performs a lot of other magic - isn't that part of its charm?

However, Python throws an error. Why? To be consistent, possibly.

```text
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[1], line 1
----> 1 print("fractional string to int:", int("3.4"))

ValueError: invalid literal for int() with base 10: '3.4'
```

If you ask Python to perform two consecutive typecasts, you must convert it explicitly in code.

```text
num_as_string = "3.4"
num_as_float = float(num_as_string)
num_as_int = int(num_as_float)
print(num_as_int)
```
```text
3
```

We could also write it in a single line like this: `int(float("3.4"))`

````

---

### Exercise 5: Arithmetic with Different Types

Given this code:

```text
first = 1.0
second = "1"
third = "1.1"
```

Which of the following will print 2.0?

(There may be more than one right answer.)

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

````{admonition} Solution
:class: dropdown

Answer: 1 and 4.

1. Is correct.
2. Gives 2.1.
3. Gives an error because we cannot convert text to int directly.
4. Is correct.
5. Gives 2 (as an integer not as a float).
6. Gives an error because `second` is a string.

````

---

### Exercise 6: Number of Students

````{admonition} Recap on Division Types
:class: tip dropdown

There are three different types of division:
1. 'Normal' division (aka floating-point division) is what most people may be
familiar with:\
5 / 2 = 2.5
2. Floor division, which cuts out the part after the period:\
5 // 2 = 2
3. Modulo division, which only keeps the remained after division:\
5 % 2 = 1

In Python 3,  the `/` operator performs floating-point division, the `//` operator performs floor division, and the `%` operator calculates the modulo division:

```text
print('5 / 3:', 5/3)
print('5 // 3:', 5//3)
print('5 % 3:', 5%3)
```
```text
5 / 3: 1.6666666666666667
5 // 3: 1
5 % 3: 2
```
````

If `num_students` is the number of students enrolled in a course (let say 600), and `num_per_class` is the number that can attend a single class (let say 42):

Write an expression that calculates the number of classes needed to teach everyone.

The output should look like this:

```text
600 students, 42 per class
14 full classes, plus an extra class with only 12 students
```

````{admonition} Solution
:class: dropdown

Depending on requirements it might be important to detect when the number of students per class doesn't divide the number of students evenly.

Detect it with the modulo operator (`%`) and test if the remainder that it returns is greater than 0.

```text
num_students = 600
num_per_class = 42
num_classes = num_students // num_per_class
remainder = num_students % num_per_class

print(num_students, 'students,', num_per_class, 'per class')
print(num_classes, 'full classes, plus an extra class with only', remainder, 'students')
```
```text
600 students, 42 per class
14 full classes, plus an extra class with only 12 students
```

## Keypoints

* Every value has a type.
* Use the built-in function `type` to find the type of a value.
* Types control what operations can be done on values.
* Strings can be added and multiplied.
* Strings have a length (but numbers don't).
* Preventing Errors: Handling numbers and strings in Python operations.
* Integers and floats can be mixed freely in operations.
* Variables only change value when something is assigned to them.